/* Global Styles for Controls/Containers */
.anchorpane {
    -fx-background-color: #383C4A;
}
.label {
    -fx-font-family: "Arial", sans-serif;
    -fx-text-fill: #E3E9FC;
    -fx-font-size: 14px;
}

/* LOGIN SCREEN */
.title {
    -fx-font-size: 20px;
    -fx-padding: 20px 5px;
    -fx-alignment: center;
    -fx-font-weight: bold;
}
.largeTextField {
    -fx-background-color: #5B6178;
    -fx-background-radius: 2;
    -fx-max-width: 250px;
    -fx-alignment: center;
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-padding: 3px;
} /* largeTextField also applies to the modify/add forms */

.largeTextField:hover {
    -fx-background-color: #515E91;
}

.largeTextField:focused {
    -fx-background-color: #475380;
}

.largeFieldLabel {
    -fx-font-size: 16px;
}

.loginMainVbox {
    -fx-spacing: 10px;
}

.loginFieldVbox {
    -fx-spacing: 5px;
    -fx-pref-height: 100;
    -fx-alignment: center;
}

.loginError {
    -fx-text-fill: #EF596F;
    -fx-font-style: italic;
    -fx-font-size: 12px;
}

/*
Footer includes login button, language setting, 
and time zone display
*/
#loginFooter {
    -fx-alignment: center;
    -fx-spacing: 30px;
}

#loginBtn {
    -fx-background-color: #4D5C99;
    -fx-padding: 12px 30px;
    -fx-text-fill: #E3E9FC;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-effect: innershadow(three-pass-box , #8099FF, 0, 0, 0, -2);
}

#loginBtn:hover {
    -fx-background-color:#404D80;
    -fx-effect: innershadow(three-pass-box , #738AE6, 0, 0, 0, -2);
}

#loginBtn:pressed {
    -fx-background-color:#262E4D;
    -fx-effect: innershadow(three-pass-box , #596BB3, 0, 0, 0, 0);
}

#loginFooterSetting {
    -fx-spacing: 30px;
    -fx-alignment: center;
}

.loginFooterItems {
    -fx-spacing: 12px;
}

/* MAIN MENU */
/* These are generic points for the main menu, which includes the customer and appointment view.
   The nature of Appointment View uses Tab Pane to navigate but adopts the same layout as Customer view. */
#sidebar {
    -fx-background-color: #4D5C99;
    -fx-effect: dropshadow(gaussian  , #404D80, 0, 0, 0, -2);
}

.sidebarButtonC {
   /*-fx-spacing: 10px;*/
}

.sidebarBtn {
    -fx-background-color: #4D5C99;
    -fx-padding: 20px 30px;
    -fx-text-fill: #E3E9FC;
    -fx-font-size: 14px;
    -fx-alignment: center-left;
}

.sidebarBtn:hover {
    -fx-background-color: #404D80;
}

.table-view{
    -fx-background-color: linear-gradient(to top, rgba(77,92,153,.25), rgba(64,77,128,.33));
}

.table-view .column-header-background {
    -fx-background-color: #4D5C99;
    -fx-padding: 5px;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: black;
}

.table-view .column-header {
    -fx-background-color: transparent;
}
.table-cell { 
    -fx-text-fill: #E3E9FC;
    -fx-alignment: center;
    -fx-font-size: 14px;
}
.table-row-cell {
    -fx-background-color: transparent;
    -fx-cell-size: 40px;
    -fx-padding: 0px;
}

.table-row-cell:odd {
    -fx-background-color: rgba(227,233,252,0.05)
}

.table-row-cell:selected {
    -fx-background-color: rgba(0,0,0,0.25);
    -fx-font-weight: bold;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:horizontal {
    -fx-background-color: rgba(0,0,0,0.25);
}

.table-view .virtual-flow .scroll-bar:vertical .thumb,
.table-view .virtual-flow .scroll-bar:horizontal .thumb{
    -fx-background-insets: 3, 0;
    -fx-background-color: #E3E9FC;
}

.table-view .virtual-flow .corner {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .increment-button:pressed,
.table-view .virtual-flow .increment-button:hover,
.table-view .virtual-flow .decrement-button:pressed,
.table-view .virtual-flow .decrement-button:hover, {
    -fx-background-color: transparent;
}

/* ViewHeader is the title of the screen, such as customers, appointments */
.viewHeader {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-font-style: italic;
}

.btnControls {
    -fx-spacing:10px;
    -fx-alignment: center;
}

.btnControls .button {
    -fx-background-color: #4D5C99;
    -fx-padding: 12px 30px;
    -fx-text-fill: #E3E9FC;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-effect: innershadow(three-pass-box , #8099FF, 0, 0, 0, -2);
}

.btnControls .button:hover {
    -fx-background-color:#404D80;
    -fx-effect: innershadow(three-pass-box , #738AE6, 0, 0, 0, -2);
}

.btnControls .button:pressed {
    -fx-background-color:#262E4D;
    -fx-effect: innershadow(three-pass-box , #596BB3, 0, 0, 0, 0);
}
.tab-pane {
    -fx-spacing: 5px;
}

.tab-pane .tab-content-area {
    -fx-background-color: transparent;
}

.tab-pane .tab-header-background {
    -fx-background-color: transparent;
}

.tab-pane .tab  {
    -fx-background-color: #4D5C99;
    -fx-font-size: 14px;
    -fx-padding: 3px 10px;
}

.tab-pane .tab:selected {
    -fx-background-color: #3d4876;
    -fx-font-weight: bold;
}

.tab-pane .tab .tab-label {
    -fx-text-fill:#E3E9FC;
}

/* Add/Modify Form for Customer */
.vBoxCol {
    -fx-spacing: 15px;
    -fx-padding: 10px 20px;
}

.formItem {
    -fx-spacing: 10px;
}

.combo-box {
    -fx-background-color: #5B6178;
    -fx-background-radius: 2;
    -fx-alignment: center;
    -fx-font-size: 14px;
    -fx-text-fill: #E3E9FC;
    -fx-max-width: 250px;
}

.combo-box-popup .list-cell{
    -fx-background-color: #5B6178;
}

.combo-box-popup .list-cell:hover {
    -fx-background-color: #4B5063;
}

.combo-box .list-cell {
    -fx-text-fill: #E3E9FC;
}

.combo-box-base .arrow-button {
    -fx-background-color: rgba(0,0,0,.15);
}

.combo-box-base .arrow-button:hover {
    -fx-background-color: rgba(0,0,0,.25);
}

.combo-box-base .arrow-button .arrow {
    -fx-background-color: #E3E9FC;
}

.combo-box-popup .virtual-flow {
    -fx-background-color: #4B5063;
}

.combo-box-popup .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-insets: 3, 0;
    -fx-background-color: #E3E9FC;
}

.formBtnSave {
    -fx-background-color: #388049;
    -fx-padding: 12px 30px;
    -fx-text-fill: #E3E9FC;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-effect: innershadow(three-pass-box , rgba(255,255,255,0.3), 0, 0, 0, -2);
    -fx-max-width: 200px;
}

.formBtnSave:hover {
    -fx-background-color: #2D663A;
    -fx-effect: innershadow(three-pass-box , rgba(255,255,255,0.5), 0, 0, 0, -2);
}

.formBtnSave:pressed {
    -fx-background-color: #16331D;
    -fx-effect: innershadow(three-pass-box , rgba(255,255,255,0.75), 0, 0, 0, 0);
}

.formBtnCancel {
    -fx-background-color: #4D5C99;
    -fx-padding: 12px 30px;
    -fx-text-fill: #E3E9FC;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-effect: innershadow(three-pass-box , #8099FF, 0, 0, 0, -2);
    -fx-max-width: 200px;
    
}

.formBtnCancel:hover {
    -fx-background-color:#404D80;
    -fx-effect: innershadow(three-pass-box , #738AE6, 0, 0, 0, -2);
}


.formBtnCancel:pressed {
    -fx-background-color:#262E4D;
    -fx-effect: innershadow(three-pass-box , #596BB3, 0, 0, 0, 0);
}

.errorMsg {
    -fx-text-fill: #EF596F;
    -fx-font-style: italic;
    -fx-font-size: 12px;
}

/* Date Picker */
.date-picker {
    -fx-background-color: #5B6178;
    -fx-alignment: center;
    -fx-font-size: 14px;
    -fx-text-fill: #E3E9FC;
}

.date-picker .text-field {

    -fx-background-radius: 2;
    -fx-max-width: 250px;
    -fx-font-size: 16px;
    -fx-text-fill: E3E9FC;
    -fx-padding: 3px;
}

.date-picker-popup {
    -fx-background-color: #484C5E;
}

.date-picker-popup .calendar-grid {
    -fx-background-color: rgba(255, 255, 255, 0.05);
}

.date-picker-popup .date-cell {
    -fx-background-color: rgba(255, 255, 255, 0.05);
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-text-fill: #E3E9FC;
}

.date-picker-popup .day-name-cell,
.date-picker-popup .week-number-cell {
    -fx-font-size: 10px;
    -fx-border-weight: 0;
}

.date-picker-popup .month-year-pane {
    -fx-background-color: #515E91;
}

.date-picker-popup * .spinner .button .left-arrow,
.date-picker-popup * .spinner .button .right-arrow {
    -fx-background-color: #E3E9FC;
}

/* Selections for DatePicker */

.date-picker-popup .today {
    -fx-background-color: rgba(255, 255, 255, 0.20);
}

.date-picker-popup .day-cell:hover {
    -fx-background-color: rgba(255, 255, 255, 0.10);
}

.date-picker-popup .today:hover,
.date-picker-popup .today:selected {
    -fx-background-color: rgba(255, 255, 255, 0.50);
}

.date-picker-popup .previous-month,
.date-picker-popup .next-month {
    -fx-background-color: transparent;
    -fx-text-fill: #A3A7B5;
}

/* Spinners for time and other time related parts*/
.spinner {
    -fx-background-color: #5B6178;
    -fx-max-width: 250px;
    -fx-font-size: 16px;
    -fx-text-fill: #E3E9FC;
}

.spinner .text-field {
    -fx-background-radius: 2;
    -fx-text-fill: #E3E9FC;
}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-background-color: rgba(0,0,0,.15);
}

.spinner .increment-arrow-button:hover,
.spinner .decrement-arrow-button:hover {
    -fx-background-color: rgba(0,0,0,.25);
}

.spinner .increment-arrow-button .increment-arrow,
.spinner .decrement-arrow-button .decrement-arrow {
    -fx-background-color: #E3E9FC;
}

.timeFieldHbox {
    -fx-spacing:5px;
    -fx-alignment: baseline-left;
}

.colonTime { 
    -fx-font-size: 16px;
    -fx-text-fill: #E3E9FC;
    -fx-font-weight: bold;
}
.hoursSpinner,
.minutesSpinner {
    -fx-max-width: 100px;
}

/* Dialog Alert Popup */
.dialog-pane {
    -fx-background-color: #383C4A;
    -fx-pref-width: 500px;
    -fx-pref-height: 250px;
}

.dialog-pane .header-panel {
    -fx-background-color: #5B6178;
}

.dialog-pane .header-panel .label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.dialog-pane .button-bar .button {
    -fx-background-color: #4D5C99;
    -fx-text-fill: #E3E9FC;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-effect: innershadow(three-pass-box , #8099FF, 0, 0, 0, -2);
    -fx-max-width: 20px;
}

.dialog-pane .button-bar .button:hover {
    -fx-background-color:#404D80;
    -fx-effect: innershadow(three-pass-box , #738AE6, 0, 0, 0, -2);
}


.dialog-pane .button-bar .button:pressed {
    -fx-background-color:#262E4D;
    -fx-effect: innershadow(three-pass-box , #596BB3, 0, 0, 0, 0);
}

.context-menu {
    -fx-background-color: #404D80;
    /* do a drop shadow*/
}

.context-menu .separator:horizontal .line {
    -fx-background-color: #383C4A;
}